<html>
  <head>
  </head>
  <body>
      <object id="home" data='<%= commonData.appName %>/home' height="700"></object>
      <object id="trainer" data='<%= commonData.appName %>/trainer' height="700"></object>

  </body>
</html>
