<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= commonData.appName %></title>
</head>
<body>
  <h1>Welcome to <%= commonData.appName %></h1>
  <p>Created by <%= commonData.author %></p>

  <!-- Include the common.js file -->
  <script src="/common.js"></script>

  <!-- Include other scripts -->
  <script src="/public/js/main.js"></script>
</body>
</html>
