<html>
  <head>
  </head>
  <body>
      <object id="home" data="https://txMike.glitch.me/home" height="700"></object>
      <object id="trainer" data="https://txMike.glitch.me/trainer" height="700"></object>

  </body>
</html>
