<html>
<body>
  <script>
    alert(globalData.appName);
  </script>
    <h1>Welcome to <%= globalData.appName %></h1>
    <p>Created by <%= globalData.author %></p>
    <object data="https://txmike.glitch.me/home"></object>
    <object data="https://txmike.glitch.me/trainer"></object>
</body>
</html>