<html>
<body>
    <object id="home"></object>
    <object id="trainer"></object>
      
      <script>
        var appName = "https://" + "<%= globalData.appName %>" + ".glitch.me/";
        document.getElementById("home").data = appName+"home"
        document.getElementById("trainer").data = appName+"trainer"
      </script>
</body>
</html>